/* 
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
.input {
    color: white;
} */

body{
  font-family: 'Imbue', serif;
}

#banner {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 100;
}

#header1 {
  font-size: 4em;
  letter-spacing: 3px;
}

.slideHeader {
  padding:30px; 
  border-radius:100px;
  background-color: rgba(0, 0, 0, 0.2);
}

.slider{
  height: 550px !important;
}

.slide {
  min-height: 92%;
}

.card-content {
  font-size: 2em;
}

.mb-0 {
  margin-bottom: 0px;
}

.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-1 {
  flex-grow: 1;
}

@media only screen and (max-width: 600px) {
  #header1 {
    font-size: 3em;
    letter-spacing: 1px;
  }

  .card-content {
    font-size: 1.5em;
  }
}