/* 
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
.input {
    color: white;
} */

#banner {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
